header

.container
  .starter-template
    h1 Bootstrap starter template
    h2 Some documentation will come here
    p.lead Use this boilerplate to start a new project using Webpack, AngularJS and Bootstrap.
